The npm concurrently is used to run multiple npm scripts simultaniously , such as starting the frontend and backend server at the same time during devlopment

in package.json of cloudbook --- Add to script 

concurrently "npm run start" "nodemon backend/index.js"


// context will hold all the states related to notes so that any components can asccess these states no matter how drilled down they are in hierarchy

cors package installed for backend : to allow access to api from browser